.wrapper {
    margin: 36px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto; 
    max-width: 50vw;
    position: relative;

	@media screen and (max-width: 720px) {
        max-width: 90vw;
        margin-top: 10%;
	}
}

.buttonsWrap{
    display: flex;
}

.closeIcon {
    position: absolute;
    top: -12px; 
    left: 25%; 
    cursor: pointer;  

    @media screen and (max-width: 720px) {
         left: 24px; 
	}
}

.title {
    margin: 36px 0px 0px 0px;
    font-size: 32px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
}

.paragraph { 
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    color: #7B7B7B;
}

.buttonContainer {
    bottom: 36px;
    width: 80%;

    @media screen and (max-width: 720px) {
        width: 100%;
        margin-top: 10%;
	}
}

.signUpButton {
    margin: 8px 0px !important;
    padding: 16px !important;
    border-radius: 8px !important;
    gap: 8px !important;
    background-color: #0494F5 !important;
    color: #ffffff !important;
    height: 48px !important;
    width: 100% !important;
    text-transform: none !important;

    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 22px !important;
}

.loginButton {
    margin: 8px 0px !important;
    padding: 16px !important;
    border-radius: 8px !important;
    gap: 8px !important;
    background-color: #F0F9FF !important;
    color: #0494F5 !important;
    height: 48px !important;
    width: 100% !important;
   
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 22px !important;
    text-transform: none !important;
}

.signUpButton:hover {
    background-color: #0271c4 !important;
    color: #ffffff !important;
}

.loginButton:hover {
    background-color: #AEB7CE !important;
    color: #ffffff !important;
}



  