.wrapper {
    margin: 36px 0px 12px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.container {
    max-width: 450px;
    width: 100%;
    padding: 0 20px; /* Добавьте отступы по вашему усмотрению */
    box-sizing: border-box;
    position: relative; 
}

.closeIcon {
    position: absolute;
    top: -12px; 
    left: 10px; 

    height: 36px;
    width: 36px;
    cursor: pointer;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeIcon:hover {
    background-color: #DDEEFF; 
    border-radius: 50%; 
}

.title {
    margin: 36px 0px 16px 0px;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
}

.buttonsContainer {
    display: flex;   
    flex-direction: column; 
    gap: 16px; 
}

.subtitle {
    margin: 25px 0px 16px 0px;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}

.terms {
    margin-top: 48px;
    text-align: center;

    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #0494F5;
    cursor: pointer;

    @media screen and (max-width: 720px) {
      bottom: 36px;
      width: 95%;
      position: fixed;
    }
  }

.label {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #7B7B7B;
    margin-bottom: 8px;
}

.paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
}

.link {
    color: #0494F5;
    text-decoration: underline
}

.submitButton {
    margin-top: 72px !important;
    margin-bottom: 12px !important;

    @media screen and (max-width: 720px) {
      bottom: 24px !important;
      width: 90% !important;
      position: fixed !important;
    }
}